body { 
  
  font-family:      "Times New Roman", Times, serif;
  font-size:        medium;
}

/* 
	height messes up the headers in the blog in the articles
	it's only appropriate for the top header.
	add a class (new with blog)
	Affects the 3 #header rules for the main header below
	In HTML: add class="top" to main header in index.html and blog.html
*/

/* 页面设置 */
#allcontent {
	width: 750px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
/* 页面底边设置 */
footer {
	border-top: solid;
	border-top-color: silver;
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
  clear: right;
}
/* 页顶导航栏 */
nav {
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px;
	border-bottom: solid;
	border-bottom-color: silver;
}
nav ul {
	text-align: right;
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li.selected {
	background-color: silver;
}
/* 页面主内容 */
section#main {
	line-height: 1.5em;
    font-size:        100%;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
}
/* 各级标题设置 */
h1#name {
	font-size: xx-large;
	padding: 30px 10px 10px 10px;
	margin-bottom: 0px;
	letter-spacing: 0.5em; /* 字间距 */
}
#nameunderline {
	font-size: 90%;
	padding: 0px 10px 30px 10px;
	line-height: 1.5em;
}
h2 {
	padding-top: 30px;
}
/* 段内强调 */
em {
	font-weight: bold;
	font-style: normal;
}
/* 个人照片 */
#Personal_Photo {
	font-size: 90%;
	padding: 15px;
	margin: 20px 0px 10px 0px;
	width: 200;
	float: right;
	line-height: 1.5em;
}
/* 页面新闻 */
section.News {
    line-height: 1.5em;
    font-size:        100%;
    padding: 0px 15px 15px 15px;
    margin: 0px 0px 30px 0px;
    vertical-align: top;
}
h2#News {
	border-top: solid;
	border-top-color: silver;
	padding: 0px 15px 15px 0px;
	text-align: center;
}